ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

ul li i {
  margin-left: 10px;
  font-size: 20px;
}

.blue i {
  color: #317CFF;
}

.pink i {
  color: #FE60DF;
}
